*.pickle
rl_toy_implementation/data/backlinks.csv
rl_toy_implementation/data/backlinks_clean.csv
*.ipynb_checkpoints*
rl_toy_implementation/models
rl_toy_implementation/new_data/links_dataframe.csv
rl_toy_implementation/new_data/link_text.csv
figures/*
